minecraft-data
world
world_nether
world_the_end
plugins/CustomCreatures
plugins/DamageIndicator
plugins/HealthBar
plugins/InteractionVisualizer
plugins/LoginSecurity
plugins/PerfoBooster
plugins/PlaceholderAPI
plugins/SkinsRestorer
plugins/SystemHomes
plugins/Timber
plugins/ToolStats
plugins/bStats
plugins/spark
config