minecraft-data
world
world_backup
world_nether
world_the_end
plugins/DamageIndicator
plugins/HealthBar
plugins/InteractionVisualizer
plugins/LoginSecurity
plugins/PerfoBooster
plugins/PlaceholderAPI
plugins/SkinsRestorer
plugins/SystemHomes
plugins/Timber
plugins/ToolStats
plugins/bStats
plugins/spark
plugins/VariableEnderChests
plugins/EconomyShopGUI/transactions
plugins/Vault
plugins/BlueMap
plugins/EconomyShopGUI/cache/*
plugins/EconomyShopGUI/transaction-log.txt
config
plugins_extension

plugins/Essentials/*
!plugins/Essentials/config.yml